@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .stat-card {
    @apply bg-gray-100 p-8 rounded-lg shadow-md;
  }

  .check-item {
    @apply flex items-center text-gray-600 mb-2;
  }

  .btn-learn-more {
    @apply mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300;
  }
}

/* Use a before pseudo-element for the check icon */
.check-item::before {
  content: '✔'; /* You might want to use an actual icon here */
  @apply mr-2 text-green-500;
}

.hero{
    background-image: url('/assets/hero.png');
}

/* Keyframes for the letter animation */
@keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  